// ==========================================================================
// Base Styles
// ==========================================================================

* {
	@include box-sizing(border-box);
}

body {

}

// Text

h1 {

}

h2 {

}

h3 {

}

h4 {

}

a {

}

p {

}


// Images
img {

}


// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

